<a href="https://colab.research.google.com/github/kimoanh16069131/kimoanh/blob/master/19_12_missing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
reviews = pd.read_csv("/content/sample_data/winemag-data-130k-v2.csv" , index_col=0)
pd.set_option('max_rows', 5)

In [ ]:
#sử dụng thuộc tính dtype để lấy kiểu của một cột
reviews.price.dtype

dtype('float64')

In [ ]:
#trả về loại dtype của mọi cột trong DataFrame
reviews.dtypes

country        object
description    object
                ...
variety        object
winery         object
Length: 13, dtype: object

In [ ]:
#chuyển đổi cột điểm từ kiểu dữ liệu int64 hiện có của nó thành kiểu dữ liệu float64
reviews.points.astype('float64')

0        87.0
1        87.0
         ...
65497    90.0
65498    90.0
Name: points, Length: 65499, dtype: float64

In [ ]:
#Chỉ mục DataFrame hoặc Chuỗi có loại riêng của nó
reviews.index.dtype

dtype('int64')

In [ ]:
#Các mục nhập thiếu giá trị được cung cấp giá trị NaN, viết tắt của "Not a Number". Vì các lý do kỹ thuật, các giá trị NaN này luôn thuộc loại float64.
#sử dụng pd.isnull () (hoặc pd.notnull ()
reviews[pd.isnull(reviews.country)]

      country  ...              winery
913       NaN  ...  Gotsa Family Wines
3131      NaN  ...   Barton & Guestier
...       ...  ...                 ...
59670     NaN  ...          Neumeister
60678     NaN  ...       Ktima Voyatzi

[32 rows x 13 columns]

In [ ]:
#có thể chỉ cần thay thế mỗi NaN bằng một "Không xác định"
reviews.region_2.fillna("Unknown")

0        Unknown
1        Unknown
          ...
65497       Napa
65498    Unknown
Name: region_2, Length: 65499, dtype: object

In [ ]:
#kể từ khi tập dữ liệu này được xuất bản, người đánh giá Kerin O'Keefe đã thay đổi xử lý Twitter của mình từ @kerinokeefe 
#thành @kerino. Một cách để phản ánh điều này trong tập dữ liệu là sử dụng phương thức Replace ()
reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

0            @kerino
1         @vossroger
            ...
65497            NaN
65498    @wineschach
Name: taster_twitter_handle, Length: 65499, dtype: object